.user-info__button {
  position: absolute;
  top: 16px;
  right: 0;
}
/* unnecessary modification */
.user-info__button:hover { 
  background-color: #fff;
  color: black;
  transition-duration:0.5s;
}

@media screen and (max-width: 980px) {
  .user-info__button {
    position: static;
    margin-bottom: 40px;
  }
}
